@tailwind base;
@tailwind components;
@tailwind utilities;


/* .my_table{
    display: flex;
    justify-content: center;
}
#page{

    margin-top: 150px;
    /* display: flex; */
    /* flex-direction: column; */
/* } */ 

